@media (max-width:500px) {
    .navbar ul .trabajo {
        display: none;
    }
    a {
        line-height: 10px;
        float: left;
    }
    .main .autor {
        margin-left: 2px;
    }
    .main h1 {
        display: none;
    }
    .mensages h1 {
        font-size: 1.1rem;
    }
    .footer .visitanos {
        display: none;
    }
}
